<h1><%= @message %> (<%= ActiveRecord::Base.configurations[Rails.env]['adapter'] %>)</h1>

<h2><%= raw(@balls) %></h2>
(<%=Ball.count%> bassjhsglls created so far)<br/></br>
<img src=<%= asset_path('golf-ball.jpg')%>></img>
YEEHAA


